@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #2b395a;
	overflow-x: hidden;
	text-align: center;
	font-family: 'Kanit', sans-serif;
	text-shadow: 1.5px 1.5px black;
	color: white;
}

span {
	color: #1385ff;
}

.heading {
	margin: 15rem 2rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.welcome {
	font-size: clamp(2rem, 5vh, 5rem);
	margin-bottom: 5rem;
}

.description {
	padding: 2rem;
	background: #eef3ff;
	border-radius: 10px;
	color: black;
	text-shadow: 0 0;
}

.purpose {
	letter-spacing: 1px;
	font-size: clamp(.5rem, 2.8vh, 2rem);
	text-align: left;
	padding-bottom: 1rem;
}

.purpose-info {
	font-size: clamp(.5rem, 3vh, 3rem);
	line-height: 3rem;
	text-align: left;
	font-family: 'Didact Gothic', sans-serif;
	height: max-content;
}

.how-it-works {
	letter-spacing: 1px;
	font-size: clamp(.5rem, 2.8vh, 2rem);
	text-align: left;
	padding: 1rem 0;
	margin-top: 2rem;
}

.info {
	font-size: clamp(.5rem, 3vh, 3rem);
	line-height: 3rem;
	text-align: left;
	font-family: 'Didact Gothic', sans-serif;
	height: max-content;
}

.disclaimer {
	text-align: center;
	color: black;
}

.scroll {
	margin-bottom: 6rem;
}

.scroll-here {
	font-size: clamp(2rem, 3vh, 5rem);
}

.fa-solid {
	font-size: clamp(2rem, 3vh, 5rem);
	font-family: none;
	text-shadow: 0 0;
	color: white;
	margin-top: 1rem;
}

.container {
	display: flex;
	justify-content: center;
	gap: 10rem;
	background: #1385ff;
	border: 10px solid white;
}

.calculations {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: clamp(.5rem, 6vh, 7rem);
	margin-bottom: 4.3rem;
}

.payment {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.accounting-months {
	font-size: clamp(.5rem, 2vh, 3rem);
}

p {
	font-size: clamp(1rem, 3vh, 7rem);
}

.content {
	letter-spacing: .5px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.loan-amount {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.first-label {
	margin-top: 3%;
}

input {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) inset, 5px 5px 10px rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	padding: 5px;
}

.loan-interest {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-top: 10%;
}

.second-label {
	margin-top: 3%;
}

.loan-length {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-top: 10%;
}

.third-label {
	margin-top: 3%;
}

.savings {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-top: 5%;
}

.graduation-time {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-top: 10%;
}

.fourth-label {
	margin-top: 3%;
}

.optional {
	font-size: clamp(.5rem, 2vh, 3rem);
	margin-top: .3rem;
}

#output_text {
	display: block;
}

@media (max-width: 40rem) {
	body {
		text-shadow: .8px .8px black;
	}
	
	.heading {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	
	.welcome {
		font-size: clamp(.5rem, 4vh, 3rem);
	}
	
	.how-it-works {
		font-size: clamp(.5rem, 2.8vh, 2rem);
	}
	
	.description {
		margin: 6rem 0;
		padding: 1.5rem;
	}
	
	.info {
		font-size: clamp(.5rem, 3vh, 3rem);
		line-height: 3rem;
	}
	
	
	.disclaimer {
		font-size: clamp(.5rem, 2vh, 3rem);
	}
	
	.scroll-here {
		font-size: clamp(.5rem, 3.5vh, 3rem);
	}
	
	.container {
		display: grid;
		gap: 3rem;
	}
	
	#calc-button {
		color: #4078d1;
		width: 50%;
	}
	
	.calculations {
		gap: 3rem;
	}
	
	.total-interest {
		margin-bottom: 1.5rem;
	}
	
	.title {
		font-size: clamp(.5rem, 3.5vh, 5rem);
		margin-bottom: 3.5rem;
	}
	
	h2 {
		font-size: clamp(.5rem, 2vh, 5rem);
	}
	
	input {
		padding: .1rem;
		width: 70%;
	}
}

@media (min-width: 40rem) and (max-width: 70rem) {
	.container {
		gap: 0;
	}
	
	#output_text {
		font-size: clamp(.5rem, 3vh, 5rem);
	}
	
	.info {
		line-height: 3rem;
	}
}
